---

---

body {
	background-color: #EAE8DE;
	color: #2F2B29;
}

.home-title {
	margin-top: 5%;
}

.home-title h1 {
	font-size: 50px;
	font-weight: bold;
	margin: 0;
	color: ;
}

.home-title p {
	font-style: italic;
	margin: 0;
}

ul {
	padding: 0;
}

li {
	list-style: none;
	margin-bottom: 1em;
}

li a {
	color: #F42711;
	text-decoration: none;
}

.wrapper {
	width: 65%;
	margin: auto;
}

.post-wrapper {
	margin-top: 5%;
}

